@use "../../sass/abstracts/colors" as c;
@use "../../sass/abstracts/sizes" as s;
@use "../../sass/mixins/typography" as t;
@use "../../sass/mixins/utilities" as u;
@use "../../sass/mixins/buttons" as b;
@use "../../sass/mixins/links" as l;

.post {
    width: 36rem;
    min-height: s.$post-height;

    margin-bottom: 2rem;

    border-radius: 3px;
    border: 1px solid c.$color-grey-s;

    overflow: hidden;

    &__img-box {
        display: block;
        height: s.$post-img-height;

        overflow: hidden;

        & .post__img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;

            transition: all 3s;

            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__heading {
        @include t.h2;
        @include u.mb-s;

        & .post__link {
            @include l.link(c.$color-text-default, c.$color-primary);
        }
    }

    &__content {
        position: relative;

        min-height: calc(s.$post-height - s.$post-img-height);
        width: 100%;

        padding: 2rem;

        font-size: 1.4rem;
        backface-visibility: hidden;

        & .author {
            display: flex;
            align-items: center;

            width: max-content;

            margin-bottom: 1rem;
            &__link {
                @include l.link(c.$color-text-s, c.$color-primary);
            }
            &__img-box {
                width: 2rem;
                height: 2rem;

                margin-right: 1rem;

                border-radius: 50%;
                border: 1px solid c.$color-text-s;

                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__name {
                font-size: 1.3rem;
            }
        }

        & .tags-box {
            display: flex;
            align-items: center;
            @include u.mb-s;

            & .tags-icon-box {
                display: inline-block;
                position: relative;
                margin-right: 0.8rem;
                width: 1.8rem;
                height: 1.8rem;
                & .tags-icon {
                    width: 100%;
                    height: 100%;
                    color: c.$color-text-s;
                }
            }

            & .tags-list {
                @include u.reset-list;
                display: inline-flex;

                & .list__item {
                    text-transform: capitalize;
                    font-size: 1.3rem;
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }

                    & .tag-link {
                        @include l.link(c.$color-text-s, c.$color-primary);
                    }
                }
            }
        }

        & .btn-continue {
            @include b.btn-link;
            @include b.btn-text;
            margin-top: 1rem;
        }
    }

    &__text {
        @include t.paragraph;
        overflow: hidden;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .btn-comment {
            @include b.btn;
            display: flex;
            align-items: center;

            font-size: s.$font-size-default;
            color: c.$color-text-default;
            font-weight: 300;

            &:active,
            &:focus {
                box-shadow: none;
                transform: none;
            }
            &:active,
            &:focus-visible {
                color: c.$color-primary;
            }

            &:hover {
                color: c.$color-primary;
            }

            & .comment-icon {
                width: 100%;
                height: 100%;
                margin-right: 0.8rem;
            }
        }
    }

    &__comments {
        max-height: 0px;

        overflow: hidden;

        transition: all 0.7s;

        &_open {
            max-height: 100vh;
        }

        & .comments__header {
            position: relative;
            text-align: center;
            padding-top: 2rem;

            & .header__text {
                display: inline-block;
                position: relative;
                color: c.$color-text-default;
                font-size: s.$font-size-default;
                font-weight: 300;
                background-color: c.$color-white-s;
                padding: 0 1.5rem;
            }

            & .comments__number {
                font-weight: 600;
            }

            &::before {
                content: "";
                display: block;

                position: absolute;
                top: calc(50% + 1rem);

                height: 1px;
                width: 100%;

                background-color: c.$color-grey-s;
            }
        }

        & .comments {
            &__list {
                @include u.reset-list;
            }
            &__item {
                display: flex;

                position: relative;

                margin-top: 2rem;

                & .user-img-box {
                    display: block;

                    width: 3.5rem;
                    height: 3.5rem;

                    margin-right: 1rem;

                    border-radius: 50%;
                    border: 2px solid lighten(c.$color-primary, 30%);

                    overflow: hidden;

                    & .user-img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                & .comments__content {
                    font-size: s.$font-size-s;

                    & .comments__author {
                        @include l.link(c.$color-text-default, c.$color-primary);

                        display: block;
                        margin-bottom: 0.7rem;
                        text-transform: capitalize;
                    }

                    & .comments__date-box {
                        display: flex;
                        align-items: center;
                        font-size: 1.2rem;
                        color: c.$color-text-m;
                        margin-bottom: 2rem;

                        & .date-icon {
                            margin-right: 0.7rem;
                        }
                    }

                    & .comments__title {
                        color: c.$color-text-xl;
                        margin-bottom: 0.6rem;
                    }

                    & .comments__body {
                        color: c.$color-text-m;
                    }
                }

                & .btn-reply {
                    position: absolute;
                    top: 0%;
                    right: 0%;

                    @include b.btn-secondary;
                }
            }
        }
    }
}
