$color-primary: #1DA1F2;
$color-secondary: #cf686c;;

$color-text-default: #333333;
$color-text-s: #999999;
$color-text-m: #777777;
$color-text-l: #555555;
$color-text-xl: #2c2c2c;

$color-grey-s: #e5e5e5;

$color-white-s: #FFFFFF;

$color-black-xl: #000000;