/*

desktop: 
1920x1080 --21  1
1366x768 -- 15  2
1536x864 -- 10  3
1280x720 -- 6.3

tablet:
768x1024 -- 28
810x1080 -- 8
1280x800 -- 6
800x1280 -- 6

phone:
360x800 -- 11.29  2
390x844 -- 7.1
414x896 -- 6.07
412x915 -- 5.52
393x873 --4.8

*/