$font-size-default: 1.6rem;
$font-size-xs: 1.2rem;
$font-size-s: 1.4rem;
$font-size-m: 1.8rem;
$font-size-l: 2rem;
$font-size-xl: 2.4rem;

$post-height: 48rem;
$post-img-height: 24rem;

$loader-item-size: 3rem;

$container-w: 128rem;

$section-padding: 4rem 0;
$entity-padding: 1.5rem;