@use "../../sass/mixins/utilities" as u;
@use "../../sass/abstracts/sizes" as s;

.section {
    @include u.section;

    & .container {
        @include u.container;
    }

    &__inner {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: s.$section-padding;
    }
}
