@mixin link($color, $color-hover) {
    &:link,
    &:visited {
        text-decoration: none;
        transition: all .2s ease-in;
        color: $color;
    }

    &:hover, &:focus {
        color: $color-hover
    }
}
