@use "../abstracts/colors" as c;
@use "../abstracts/sizes" as s;

@mixin h2 {
    font-size: s.$font-size-m;
    color: c.$color-text-default;
    font-weight: 600;
}

@mixin paragraph {
    font-size: s.$font-size-default;
    color: c.$color-text-m;
    font-weight: 400;
}