@use "./sass/abstracts/sizes" as s;
@use "./sass/abstracts/colors" as c;
@use "./sass/abstracts/media" as m;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @media only screen and (max-width: m.$bp-large) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    font-family: c.$font-default;
    font-weight: 400;
    font-size: s.$font-size-default;
    letter-spacing: 0.08rem;
}

::selection {
    color: #FFFFFF;
    background-color: c.$color-primary;
}